@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0 auto;
    font-family: 'Montserrat';
    background-color: black;
}
div img{
    height: 25%;
}
header{
    width: 100%;
    display: flex;
    align-content: space-between;
}
nav a{
    color: #ffffff;
    display: inline-flex;
    text-decoration: none;
}
.main-menu{
    width: 80%;
    font-weight: 600;
    font-size: 13px;
    margin-top: 20px;
}
ul{
    display: flex;
    align-content: space-between;
    list-style: none;
}
/* li{
    text-decoration: none;
} */

.banner-principal{
    /* background-image: url("assets/inicio.gif");
    background-position: center 25%;
    background-size: cover; */
    background-color: red;
    height: 300px;
}